body {
  background-color: #1E1E1E;
  padding: 10px;
  color: #dddddd;
}

.titleContainer {
  display: flex; 
  align-items: center; 
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 10px;
}

.container{
  color: #dddddd;

}

.titulo {
  font-size: 40px;
  text-align: center;
  width: 100%;
}

.buscador {
  position: relative;
}

.input {
  width: 150px;
  padding: 10px 0px 10px 3px;
  border-radius: 9999px;
  border: solid 1px #333;
  transition: all .2s ease-in-out;
  outline: none;
  opacity: 0.6;
}

.container-input svg {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 100px;
  transform: translate(0, -50%);
}

.input:focus {
  opacity: 1;
  width: 250px;
  padding: 10px 0px 10px 3px;
}

.tg-wrap {
  padding-top: 20px;
  display: flex; 
}

.tg {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0px auto;
  background-color: #563e68a7;
  box-shadow: 2px 2px 4px #563e68a7;
}

.tg td {
  border-color:  #090909;
  border-style: solid;
  border-width: 2px;
  font-size: 20px;
  overflow: hidden;
  padding: 10px 10px;
  word-break: normal;
}

.tgCabezera {
  border-color:  #D5B895;
  border-style: solid;
  border-width: 2px;
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg .tg-0lax {
  text-align: center;
  vertical-align: top;
}

.card-body{
  display: flex;
  justify-content: center;

}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  position: center;
  padding: 20px 40px 30px 20px;
  
}

.title {
  font-size: 28px;
  color: #462b74a7;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.title::before,.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #563e68a7;
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: #563e68a7;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}


.signin {
  text-align: center;
}

.signin a {
  color: #563e68;
}

.signin a:hover {
  text-decoration: underline #563e68;
}

.flex {
  display: flex;
  width: 100%;
  gap: 30px;
}

.form label {
  position: relative;
}

.form label .input1 {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input1 + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.submit {
  border: none;
  outline: none;
  background-color: #6a21a2;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
}

.submit:hover {
  background-color: #7d03db;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

.form-container-login {
  width: 320px;
  border-radius: 0.75rem;
  background-color: rgba(17, 24, 39, 1);
  padding: 2rem;
  color: rgba(243, 244, 246, 1);
}

.title-login {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.form-login {
  margin-top: 1.5rem;
}

.input-group {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.input-group label {
  display: block;
  color: rgba(156, 163, 175, 1);
  margin-bottom: 4px;
}

.input-group input {
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid rgba(55, 65, 81, 1);
  outline: 0;
  background-color: rgba(17, 24, 39, 1);
  padding: 0.75rem 1rem;
  color: rgba(243, 244, 246, 1);
}

.input-group input:focus {
  border-color: rgba(167, 139, 250);
}

.forgot {
  display: flex;
  justify-content: flex-end;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(156, 163, 175,1);
  margin: 8px 0 14px 0;
}

.forgot a,.signup a {
  color: rgba(243, 244, 246, 1);
  text-decoration: none;
  font-size: 14px;
}

.forgot a:hover, .signup a:hover {
  text-decoration: underline rgba(167, 139, 250, 1);
}

.sign {
  display: block;
  width: 100%;
  background-color: rgba(167, 139, 250, 1);
  padding: 0.75rem;
  text-align: center;
  color: rgba(17, 24, 39, 1);
  border: none;
  border-radius: 0.375rem;
  font-weight: 600;
}

.signup {
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(156, 163, 175, 1);
}

ul.acorh, ul.acorh * 
{
  margin: 0;
  padding: 0;
  border: 0;
}

ul.acorh {
  position: relative;
  margin: 10px auto;
  padding: 0;
  list-style: none;
  width: 100%;
  font-size: 18px;
  text-align: right; /* Alineación a la derecha */
}

ul.acorh li {
  list-style: none;
}

ul.acorh li.account {
  display: inline-block;
}

ul.acorh li a {
  display: inline-block;
  width: 100px; /* Establece un ancho fijo para las opciones */
  padding: 10px 20px;
  background: #333;
  color: #eee;
  border-bottom: 1px solid #000;
  border-top: 1px solid #666;
  text-decoration: none;
  box-sizing: border-box;
}

ul.acorh li ul {
  position: absolute;
  top: 100%;
  left: 0;
  max-height: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  transition: .3s all ease-in;
}


ul.acorc li li:last-child a 
{
  border-bottom: 0; 
}

ul.acorh li:hover ul {
  max-height: 300px;
  transition: .3s all ease-in;
}

ul.acorh li a:hover 
{
  background: #666;
  color: #fff;
}

ul.acorh li.account a {
  position: relative;
}

ul.acorh li.account a .hover-effect {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

ul.acorh li.account a:hover .hover-effect {
  background: #666;
}

ul.acorh {
  list-style: none;
  padding: 0;
}

ul.acorh li {
  position: relative;
}

ul.acorh li ul.sub-menu {
  position: fixed;
  top: 0;
  right: 100%;
  padding: 0;
  margin: 0;
  visibility: hidden;
  opacity: 0;
  background: #333;
  transition: opacity 0.3s ease;
  min-width: 150px; /* Establece el ancho mínimo deseado para el submenú */
}

ul.acorh li:hover ul.sub-menu {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

ul.acorh li a {
  display: block;
  padding: 10px;
  background: #333;
  color: #eee;
  text-decoration: none;
}

ul.acorh li ul.sub-menu li {
  width: 100%;
}

ul.acorh li ul.sub-menu li a {
  background: #999;
  color: #000;
}

ul.acorh li a:hover {
  background: #666;
  color: #fff;
}
